
#projects {
    display: flex;
    flex-wrap: wrap;

    & > * { 
        flex: 1 1 calc(50% - 2em);
        &.project:last-of-type {
            border-left: 1px solid #00000033;
        }
    }
    & > h2 { flex: 1 1 100%; }
    & > #ensojs { 
        flex: 1 1 100%;
        border-bottom: 1px solid #00000033;
    }
}

.project {
    padding: 0.5em;
    & > header {
        display: flex;
        justify-content: space-between;

        & > ul {
            display: flex;
            list-style: none;
            gap: 1em;
        }
    }
    & > ul {
        padding: 0.5em 1em;
    }
}

#hackvent .optional {
    display: none;
}

