
{% from "helpers.html" import insert_item, parse_value with context %}
{% from get_snippet("views", section.view) import render %}

{% macro render_item(item) %}
    <h3>{{ parse_value(item.title) }}</h3>

    <ul>
        {% for skill in item["items"] %}
            {{ insert_item(skill, "li") }}
        {% endfor %}
    </ul>
{% endmacro %}

<section id="{{ section.id|d(section.type) }}">
    <h2>{{ parse_value(section.title) }}</h2>

    {{ render(section["items"], render_item) }}
</section>
