
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

:root {

    --burgundy: #800020;
    --crimson: #DC143C;

    --text-color: black;
    --background: white;
    --accent-color: var(--crimson);
}

html {
    width: 100%;
    background-color: dimgray;
}

body {
    background-color: white;
    max-width: 210mm;
    margin: auto;
}

section {
    width: 100%;
}



#contact {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    border: 1px solid var(--accent-color); 
}
