
:root {

    --Prussian-blue: #1D3557;

    --text-color: #111;
    --background: #fff;
    --alt-background: #f7f5f6;
    --accent-color: var(--Prussian-blue);
    --text-accent: var(--Prussian-blue);

}
