
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{}}</title>
</head>

<body>

    <header>
        <section id="details">
            <h1>{{}}</h1>
            <p class="tagline">{{}}</p>
            <p class="location">{{}}</p>
        </section>
        <address id="contact">
            <ul class="contact">
                <li>
                    <a href="mailto:{{}}">
                       {{}}
                    </a>
                </li>

                <li>{{}}</li>
            </ul>
            <ul class="social-media">
                {% for social in  %}
                    <li>
                        <a href="">
                            
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </address>
    </header>
    <section id="summary">
        <p>{{}}</p>
    </section>

    <main>
        {% for section in  %}
            {%  %}
        {% endfor %}
    </main>

</body>
</html>
