
/* #experience {
} */

.experience-item {
    padding: 0 2em;

    & > header {
        display: flex;
        justify-content: space-between;

        & > .role-first {
            display: none;
        }
        & > .company-first {
            display: block;
        }
    }
}