
/* #experience {
    background:
        linear-gradient(
            90deg,
            var(--accent-color) 0%,
            var(--accent-color) 100%
        )
        right 2em top 5em / 3px calc(100% - 2em)
        no-repeat;
} */

#experience {
  position: relative;

  & .optional {
    display: none;
  }
}

#experience::after {
  content: '';
  position: absolute;
  
  right: 2.5em;
  top: 5em;
  
  width: 3px;
  height: calc(100% - 4em);
  
  background-color: var(--accent-color);
  
  /* will-change: transform;  */
}

.experience-item {
    padding: 0.25em 2em;

    & > header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > .role-first {
            display: none;
        }
        & > .company-first {
            display: block;
        }

        & > .date-range {
            position: relative;
            z-index: 99;
            /* border-radius: 999px 0 0 999px; */
            border-radius: 999px;
            border: 1px solid var(--accent-color);
            /* border-right: 3px solid var(--accent-color); */
            background: var(--background);
            padding: 0 0.5em;
        }
    }

    & > ul {
        padding: 0 5em 0 1em;
    }
}
